<div class="container" id="login">
  <h1>
    {{title}}
  </h1>
  <hr>
  <br>
  <md-input-container>
    <input md-input placeholder="username">
  </md-input-container>
  <md-input-container>
    <input md-input placeholder="password" type="password">
  </md-input-container>
  <br>
  <button md-raised-button color="primary">Login</button>
  <br>
  <p>Without logging in, you may explore the site, but your tasks will not persist</p>
  <hr>
  <br>
  <button md-raised-button color="warn" mdTooltip="Coming Soon...">Sign Up</button>
</div>
